{% extends 'base.html.twig' %}

{% block title %}Contients{% endblock %}

{% block monTitre %}Liste des continents{% endblock %}
{% block body %}
{% for continent in continents %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom border-primary p-2 m-2"><a href="{{ path("afficherContinent", {'id' : continent.id }) }}">{{ continent.libelle|capitalize }}</a></h2>
    </div>
</div>
<div class="row align-items-center m-2 p-2">
    {% for animal in continent.animaux %}
        <div class="col-3 text-center align-items-center">
            <img src="{{ asset("images/" ~ animal.image)}}" alt="">
            <div>
                <h2><a href="{{ path("afficher_animal", {'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
                <div><a href="{{ path("afficher_famille", {'id' : animal.famille.id})}}" class="btn btn-primary">{{ animal.famille.libelle }}</a></div>
                {# <div>
                    {% for continent in animal.continents %}
                        <a href="{{ path("afficherContinent", {'id' : continent.id }) }}" class="btn btn-warning">{{ continent.libelle }}</a>
                    {% endfor %}
                </div> #}
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
